/*=============================================================
                  GERAL
==============================================================*/

html {
  font-size: calc(15px + 0.390625vw); /*responsividade da fonte*/
}

body {
  /* background: rgb(99, 224, 238); */
  background: white;
  color: #21243d;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /*font-family. Fonte usadas no sites, se não tiver a primeira ele pega a segunda */
}

a {
  color: #21243d; /*cor do link */
  text-decoration: none; /*tirar a barra do link */
}

p {
  line-height: 130%; /*altura da linha */
}

button {
  background-color: #0e8388;
  border: none;
  color: #fff;
  border-radius: 15px;
  padding: 8px;
}

h1 {
  color: black;
}

p {
  color: #888888;
}

img {
  max-width: 100%;
}

html {
  font-family: comfortaa;
}

/*=========================== HEARDER ============================================================*/
header ul li {
  text-align: center;
  padding: 10px 0 10px 0;
}

header h1 {
  font-size: 1.4rem;
  text-align: center;
  margin: 10px 0 10px 0;
}

main h2 {
  text-align: center;
  font-size: 1.2rem;
  margin: 15px;
}

main section.inicio {
  text-align: center;
  margin: 0 0 10vw 0;
}

main section.inicio p {
  text-align: center;
  padding: 5px;
  margin: 5px 0 10px 0;
}

main section.meio {
  background-color: #cbe4de;
  text-align: center;
  padding: 20px 0 20px 0;
}

main section.meio ul li {
  margin: 30px;
  background-color: white;
  padding: 20px;
}
main section.meio ul li span {
  margin: 10px;
  padding: 15px;
  font-size: 3rem;
}

main section.meio ul li h3 {
  font-size: 1.2rem;
  margin: 0 0 10px 0;
}

main section.meio ul li span p {
  margin: 15px 0 20px;
  padding: 15px;
}

section.final h2 {
  margin: 8vw 0 0 0;
}

section.final p {
  text-align: center;
  padding: 10;
  margin: 10px;
}

section.final div {
  padding: 10px;
  margin: 10px;
  text-align: center;
}
section.final div h2 {
  padding: 10px;
  margin: 10px 0 0 0;
  text-align: center;
}

footer {
  text-align: center;
  background-color: #cbe4de;
  padding: 15px;
}
footer h3 {
  margin: 10px;
  font-size: 1rem;
}

footer p {
  margin: 10px;
}

footer ul li {
  margin: 10px;
}
/*==========================================Para Pc=========================================================*/
@media (min-width: 900px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 2.5vw;
  }

  header nav ul li {
    display: inline-block;
    text-align: right;
    margin: 0 0 0 15px;
  }

  section.meio ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  section.meio ul li {
    width: 20%;
  }

  
  section.final {
    padding: 3vw;
  }

  section.final p {
    padding: 0 5vw;
  }

   section.final > div {
    display: flex;
    justify-content: space-between;
    padding: 3vw;
    
  } 
  section.final > div .texto {
    padding: 3vw;
  }
    
  footer {
    display: flex;
    justify-content: space-between;
  }

  footer ul {
    display: flex;

  }
}
