/*=============================================================
                  GERAL
==============================================================*/
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-size: calc(15px + 0.390625vw); /*responsividade da fonte*/
    font-family: "Roboto";
    /*font-family. Fonte usadas no sites, se não tiver a primeira ele pega a segunda */
  }
  
  body {
    /* background: rgb(99, 224, 238); */
    background: white;
    color: #21243d;
    
  }
  
  a {
    color: #21243d; /*cor do link */
    text-decoration: none; /*tirar a barra do link */
  }
  
  p {
    line-height: 130%; /*altura da linha */
  }
  



  
  h1 {
    color: black;
  }
  
  h2 {
      color: black;
    }
  
  p {
    color: #888888;
  }
  
  img {
    max-width: 100%;
  }
  


/* ======================================================HEADER=================================================================*/

header nav ul li  {
    text-align: center;
    padding: 10px;
    font-family: "Cabin";
}

a.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

a.login {
    background-color: #Fff;
    border: none;
    color: #FBBC05;
    border-radius: 15px;
    padding: 8px;
  }

  a.get {
    background-color: #FBBC05;
    border: none;
    color: #fff;
    border-radius: 15px;
    padding: 8px;
  }



/*========================================PC=============================================*/
@media (min-width: 1024px) {
    header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header nav > ul {
        display: flex;
        align-items: center;
    }
    
    header nav ul li {
        margin: 0px 10px 0px 10px;
    }

    header nav ul ul {
        display: none;
        text-align: center;
    }

    header nav ul li:hover ul {
        display: block;
        position: absolute;
    }

    header nav ul ul li {
        margin: 5px 0 5px 0px;
    }
}
