/*=============================================================
                  GERAL
==============================================================*/

html {
  font-size: calc(15px + 0.390625vw); /*responsividade da fonte*/
}

body {
  /* background: rgb(99, 224, 238); */
  background: white;
  color: #21243d;
  font-family: "Cabin", sans-serif;
}

a {
  color: #21243d; /*cor do link */
  text-decoration: none; /*tirar a barra do link */
  font-size: 1.2rem;
}

p {
  line-height: 130%; /*altura da linha */
}

h1 {
  color: black;
  font-size: 2.2rem;
}

h2 {
  color: black;
}

p {
  color: #888888;
}

img {
  max-width: 100%;
}

/* ======================================================HEADER=================================================================*/

header {
  text-align: center;
  padding: 2vw 3vw 2vw 3vw;
}

header nav ul li {
  margin: 20px;
}
a.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
a.login {
  color: #fbbc05;
}

a.get-started {
  color: white;
  background: #fbbc05;
  padding: 12px;
  border-radius: 8px;
}
/*=================================================================================================================*/
section.banner {
  background: url(../src/image/celular.png) no-repeat right,
    url(../src/image/background-footer.png),
    linear-gradient(rgba(225, 244, 255, 0.6), rgba(225, 244, 255, 0.6));
  padding: 10vw 8vw;
  background-size: auto 100%;
}

section.banner h2 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 130%; /* altura da linha */
  width: 30%;
}

section.banner p.text {
  width: 50%;
}

section.banner p {
  margin: 30px 0;
}

section.banner p button {
  background-color: #252b42;
  color: white;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 15px 20px;
  border: none;
  margin: 5px;
}

section.banner p button span {
  margin: 0 0;
}

section.ready h2 {
  text-align: center;
  font-size: 2rem;
  padding: 8vw 0 0.5vw 0;
}

section.redy {
  text-align: center;
}

section.ready p {
  margin: 20px 0;
  width: 40%;
  display: block;
}

section.ready div.texto-meio {
  display: flex;
  justify-content: center;
  margin: 0 0 6vw 0;
}

section.ready ul li {
  text-align: left;
}

section.ready ul li h3 {
  margin: 15px 0 5px 0;
  font-size: 1rem;
}

section.ready ul li span {
  background: #e1f4ff;
  color: #fbbc05;
  font-size: 3rem;
  padding: 10px;
  border-radius: 8px;
  width: 20%;
  margin: 10px;
  text-align: center;
}

section.dowload {
  background-color: #fbbc05;
  border-radius: 20px;
  padding: 10vw 2vw 10vw 12vw;
  margin: 5vw;
  background-image: url(../src/image/celular.png), url(../src/image/celular.png);
  background-repeat: no-repeat, no-repeat;
  background-position: 66% 170%, 100% -54%;
  background-size: 30% auto, 30% auto;
  border: 1px solid black; /* bordinha */
}

section.dowload div h2 {
  font-size: 2rem;
  color: white;
  padding: 0 0 4vw 0.5vw;
  width: 100%;
  font-weight: bold; /*negrito*/
}

section.dowload div p {
  color: white;
  padding: 0 0 0 0.5vw;
  width: 30%;
}

section.dowload button {
  color: #ffffff;
  background-color: #21243d;
  padding: 1.2vw 3vw;
  margin: 5vw 0 0 0.5vw;
  border-radius: 10px;
  font-size: 1rem;
}

section.services {
  margin: 5vw;
  color: black;
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 10vw;
}

section.services div.titulo {
  text-align: left;
  width: 110%;
}

section.services div.titulo h2 {
  font-weight: bold;
}

section.services div.titulo p {
  padding: 8px 0 0 0;
  color: black;
  font-size: 0.7rem;
}

section.services div.services ul {
  padding: 20px 20px 20px 10vw;
  display: flex;
}

section.services div.services ul li p {
  color: black;
  padding: 10px 20px 20px 10px;
}

section.services div.services ul li h3 {
  font-weight: bold;
  padding: 30px 20px 20px 10px;
}

section.services div.services ul li {
  border-radius: none;
  padding: 1vw;
  margin: 1vw;
  width: 40%;
  background-color: #ede8e8;
}
section.services div.services ul li span {
  font-size: 2rem;
}

section.contact {
  margin: 5vw;
}

section.contact div.contact {
  margin: 10vw 0 5vw 0;
}

section.contact div.contact h2 {
  font-size: 1rem;
  padding: 1vw;
  font-weight: bold;
  text-align: center;
}
section.contact div.contact p {
  color: #39393b;
  font-size: 0.7rem;
  text-align: center;
}

section.contact div.informacao form input {
  border: none;
  border-bottom: 2px solid #fbbc05;
  padding: 1vw;
  color: black;
}
section.contact div.informacao form textarea {
  border: none;
  border-bottom: 2px solid #fbbc05;
  width: 100%;
  text-align: left;
}

section.contact div.informacao legend {
  text-align: left;
  font-weight: bold;
  font-size: 0.7rem;
  padding: 1vw;
}

section.contact div.mensagem {
  width: 100%;
}
section.contact div.informacao button {
  color: rgb(0, 0, 0);
  background-color: #fbbc05;
  padding: 10px 20px;
  border: none;
  margin: 15px;
}

section.contact div.map {
  display: flex;
  justify-content: space-between;
  margin: 0 10vw;
}
/*==================================footer=====================================================================*/
footer div.fim {
  display: flex;
  justify-content: space-between;
  margin:  10vw 20vw;
}

footer div.fim span {
  color: #fbbc05;
  padding: 15px 12px 7px 0;
}
footer div.fim h2 {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0 0 5px 0;
}

footer div.fim ul li{
  color: #888888;
  padding: 10px 0;
}
footer div.terminado {
  text-align: center;
  background-color: #e1f4ff;
  padding: 2% 0;
  color: #888888;
}

/*=============================================PC=============================================================================*/

@media (min-width: 1024px) {
  header {
    font-size: 0.5rem;
  }

  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header nav > ul {
    display: flex;
    align-items: center;
  }

  header nav ul li {
    margin: 0px 10px 0px 10px;
  }

  header nav ul ul {
    display: none;
  }

  header nav ul li:hover ul {
    display: block;
    position: absolute;
  }

  header nav ul ul li {
    margin: 5px 0 5px 0;
  }

  h1 {
    font-size: 1rem;
  }

  a {
    font-size: 1rem;
  }

  a.logo img {
    margin: 0 7px 0 0;
  }

  section.ready div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  section.ready img {
    margin: 0 0 0 5vw;
  }

  section.ready ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 10vw;
    padding: 0 0 0 5vw;
  }

  section.services div.services ul li span#redirecionamento {
    display: none;
  }

  section.services div.services ul li:hover span#redirecionamento {
    display: inline;
    position: absolute;
    padding: 0 15vw 0 15vw;
  }

  section.services div.services ul li:hover {
    background-color: #fbbc05;
  }

  section.services ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 10vw;
    padding: 0 0 0 10vw;
  }

  section.contact div.informacao {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
}
