/*=============================================================
                  GERAL
==============================================================*/

html {
  font-size: calc(15px + 0.390625vw); /*responsividade da fonte*/
}

body {
  /* background: rgb(99, 224, 238); */
  background: white;
  color: #21243d;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /*font-family. Fonte usadas no sites, se não tiver a primeira ele pega a segunda */
}

a {
  color: #21243d; /*cor do link */
  text-decoration: none; /*tirar a barra do link */
}

p {
  line-height: 130%; /*altura da linha */
}
/*=============================================================
                  ESPECIFICO
==============================================================*/

header ul li {
  text-align: center;
  padding: 10px 0 10px 0;
}

section.banner {
  text-align: center; /* centralizar */
  padding: 0 5% 0 5%; /* espaço das laterais */
}

section.banner h1 {
  font-weight: bold; /*negrito no titulo */
  font-size: 2.4rem; /* tamanho */
  margin: 10px 0 10px 0; /* margem*/
}

section.banner p button {
  background-color: #ff6464;
  border: none; /* tirar a bordar do votão */
  color: white; /* cor da letra do botão */
  display: inline-block;
  margin: 10px 0 50px; /* espaço externo */
  padding: 5px 10px; /*espaço interno */
  font-size: 1.5rem; /* tamanho */
}

section.posts {
  background-color: #edf7fa;
  padding: 10xp;
}

section.posts h2 {
  text-align: center;
  margin: 15px;
  padding: 15px 0 0 0;
}

section.posts li {
  margin: 15px 0;
  background-color: white;
  padding: 15px;
  border-radius: 4px;
}

section.posts li h3 {
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 130%;
}

section.posts li p {
  margin: 20px 0 0 0;
}
